html {
  background-color: lightgray;
  /* background: url("./dimples.png"); */
}
.acparent {
background-color: lightgray;
color: white;
background: url("./titleist.png");
background-size: 100%;
display: grid;
/* grid-template-columns: auto; */
grid-template-rows: auto;
grid-column-gap: 10px;
grid-row-gap: 10px;
border: 10px solid green;
padding-bottom: 50px;
}
.nameColor {
  padding-right: 300px;
  color: white;
}